<!DOCTYPE html>
<html>
<head>
  <title>Password Reset</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 20px;
    }
   .email-container {
      max-width: 600px;
      margin: auto;
      background-color: #ffffff;
      padding: 20px;
      border: 1px solid #dddddd;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
   .email-header {
      background-color: rgba(135, 245, 146, 0.8);
      color: #ffffff;
      padding: 10px;
      border-bottom: 1px solid rgba(135, 245, 146, 0.8);
    }
   .email-header img {
      max-width: 150px;
    }
   .email-content {
      padding: 20px;
      color: #555555;
      line-height: 1.6;
    }
   .email-content p {
      margin: 0 0 10px;
    }
   .email-footer {
      background-color: rgba(135, 245, 146, 0.8);
      color: #ffffff;
      padding: 10px;
      border-top: 1px solid rgba(135, 245, 146, 0.8);
      text-align: center;
    }
   .reset-button {
      display: inline-block;
      background-color: rgba(135, 245, 146, 0.8);
      color: #ffffff;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      margin-top: 20px;
      border: none;
      cursor: pointer;
    }
   .reset-button:hover {
      background-color: rgba(135, 245, 146, 0.8);
    }
  </style>
</head>
<body>
  <div class="email-container">
    <div class="email-header">
      <img src="https://media.licdn.com/dms/image/C560BAQHLgepv89S7FA/company-logo_200_200/0/1632275622662?e=1727308800&v=beta&t=PQyh5G1HVVLidabide7QRCdqRGZDH-Bd1HXad-Tc4nU" alt="zoft Logo">
    </div>
    <div class="email-content">
      <h2>Reset your password</h2>
      <p>Hi User,</p>
      <p>We're sending you this email because you requested a password reset. Click on this link to create a new password:</p>
      <p><a href="<%= data.resetUrl %>" class="reset-button">Set a new password</a></p>
      <p>If you didn't request a password reset, you can ignore this email. Your password will not be changed.</p>
    </div>
    <div class="email-footer">
      <p>the zoft team</p>
    </div>
  </div>
</body>
</html>