<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset</title>
  <style>
    body {
      background-color: #f0f0f0;
      padding: 0;
      margin: 0;
      font-family: Arial, sans-serif;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .email-container {
      max-width: 600px;
      width: 90%;
    }
    .content {
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      overflow: hidden;
    }
    .header {
      background-image: linear-gradient(to top, #17061D, #340D74);
      padding: 30px 0;
      text-align: center;
    }
    .logo {
      max-height: 80px;
    }
    .main-content {
      padding: 40px;
      color: #34495e;
    }
    .main-content h1 {
      color: #2c3e50;
      font-size: 28px;
      margin-top: 0;
      margin-bottom: 20px;
    }
    .main-content p {
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 20px;
    }
    .reset-button {
      display: inline-block;
      background-color: #f5bc42;
      color: white;
      text-decoration: none;
      padding: 12px 30px;
      border-radius: 5px;
      font-weight: bold;
      transition: background-color 0.3s ease;
    }
    .reset-button:hover {
      background-color: #27ae60;
    }
    .footer {
      background-color: #ecf0f1;
      padding: 20px;
      text-align: center;
      color: #7f8c8d;
      font-size: 14px;
    }
  </style>
</head>
<body>
  <div class="email-container">
    <div class="content">
      <div class="header">
        <img src="https://media.licdn.com/dms/image/C560BAQHLgepv89S7FA/company-logo_200_200/0/1632275622662?e=1727308800&v=beta&t=PQyh5G1HVVLidabide7QRCdqRGZDH-Bd1HXad-Tc4nU" alt="Zoft Logo" class="logo">
      </div>
      <div class="main-content">
        <h1>Reset Your Password</h1>
        <p>Hi User,</p>
        <p>We're sending you this email because you requested a password reset. Click on the button below to create a new password:</p>
        <p><a href="<%= data.resetUrl %>" class="reset-button">Set a New Password</a></p>
        <p>If you didn't request a password reset, you can ignore this email. Your password will not be changed.</p>
      </div>
      <div class="footer">
        <p>The Zoft Team</p>
      </div>
    </div>
  </div>
</body>
</html>